services:

  # PHP Service
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: php:8.4
    container_name: app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - ./laravel:/var/www
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - app-network

  # Nginx Service
  webserver:
    image: nginx:alpine
    container_name: webserver
    restart: unless-stopped
    tty: true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./laravel:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - app-network

  # MySQL Service
  db:
    image: mysql:8
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./docker/mysql/conf.d:/etc/mysql/conf.d
    container_name: db
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    environment:
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: dev_logistic
      TZ: Asia/Yekaterinburg
    networks:
      - app-network

  redis:
    image: redis:8.2
    container_name: redis
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=password
      - REDIS_USER=redisuser
      - REDIS_USER_PASSWORD=password
    ports:
      - 6379:6379
    networks:
      - app-network

# Docker Networks
networks:
  app-network:
    driver: bridge


